{sys, [
       {lib_dirs, ["../..", "../lib"]},
       {rel, "esyslog", "0.2",
        [kernel,
         stdlib,
         sasl,
		 elog,
		 extlib,
		 esyslog
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "esyslog"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_app_filters, ["\.gitignore"]},

       %% Including HiPE can cause issues generating your first upgrade.
       %% If you plan to distribute HiPE in your release remove the
       %% following line.
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, elog, [{incl_cond, include}]},
       {app, extlib, [{incl_cond, include}]}
      ]}.

{target_dir, "esyslog"}.

{overlay, [
           {mkdir, "log/"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/esyslog", "bin/esyslog"},
           {copy, "files/sys.config", "etc/app.config"},
           {copy, "files/esyslog.cmd", "bin/esyslog.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
